version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: marcorp-backend
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db
      - redis

  db:
    image: mariadb:10.11.14
    container_name: marcorp-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: marcorp_core_dev
      MYSQL_USER: marcorp
      MYSQL_PASSWORD: secret
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql

  redis:
    image: redis:latest
    container_name: marcorp-redis
    ports:
      - "6379:6379"

volumes:
  mariadb_data:
